body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: cursive;
}

.main-sect {
  border-top: 2px black solid;
}

.main-head {
  font-size: 3rem;
  padding-left: 20px;
}

.recent {
  width: 50%;
}

table {
  width: 80%;
  border: 2px black solid;
}

td {
  padding-left: 5px;
  font-size: 1.2rem;
}

table > tbody > tr:nth-of-type(even) {
  background-color: rgb(219, 146, 9);
}

table > tbody > tr:nth-of-type(odd) {
  background-color: black;
  color: white;
}

.add-score {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.input-score {
  display: flex;
  width: 70%;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.input-score > input {
  padding: 7px;
  width: 95%;
}

.main-body {
  display: flex;
  padding: 20px 50px;
}

.refresh {
  padding: 5px;
  width: 80px;
  box-shadow: 2px 2px 3px 3px;
  background-color: rgb(219, 146, 9);
}

.submit {
  width: 80px;
  align-self: flex-end;
  margin-right: 10px;
  padding: 5px;
  box-shadow: 2px 2px 3px 3px;
}

.add-heading {
  padding-left: 10px;
}

button {
  cursor: pointer;
}

button:hover {
  color: white;
  border-radius: 30%;
  background-color: black;
}

.fa-star {
  color: rgb(219, 146, 9);
}
